@import "tailwindcss";

@custom-variant light (&:where(.light, .light *));

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    user-select: none;
}